/*body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	/* Simple page reset 
	margin:0;
	padding:0;
}
*/
/*body{
	/* Setting default text color, background and a font stack 
	color:#dddddd;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
}*/

#fancyClock{
	margin:40px auto;
	height:200px;
	/*border:1px solid #111111;*/
	width:600px;
}


html { height: 100%; }
body { height: 100%; min-height: 100%; overflow: hidden; color: #fff; font-size: 1em; text-shadow: 0px 1px 5px rgba(0,0,0,0.1); }
body, input { font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; }

ul, ol { margin: 0; padding: 0; list-style: none; }

a { color: #fff; text-decoration: none; -webkit-transition: all 0.15s ease; }

h2 { font-size: 54px; letter-spacing: 0; white-space: nowrap; }

.widgets { position: absolute; top: 0; left: 0; bottom: 0; right: 0; opacity: 0; z-index: 10; }
.quiet { opacity: 0.7; }

/* Regions */

#full { height: 100%; }

#top-left, #top-right, #bottom-right, #bottom, #bottom-left, #center, #center-below, #center-above { position: absolute; z-index: 3; }

#center, #center-below, #center-above { display: block; top: 50%; left: 50%; width: 100%; 
	text-align: center; -webkit-transform: translate(-50%,-50%); -webkit-transform-origin: 50% 50%;
	background-color: transparent; }

#bottom { width: 50%; bottom: 0; left: 50%; opacity: 1; -webkit-transform: translateX(-50%); -webkit-transform-origin: 50% 50%; }

#top-right { top: 0; right: 0; }
#top-left { top: 0; left: 0; }
#bottom-right { bottom: 0; right: 0; z-index: 100; }
#bottom-left { bottom: 0; left: 0; z-index: 100; }
.top-nav { padding: 20px 15px; display: inline-block; cursor: pointer; }

#center-below, #center-above { left: 0; top: 72.5%; -webkit-transform: translate(0,0); text-align: center; }
#center-above { top: 0; z-index: 1; }
#center-below { z-index: 10; }

#background, #background li { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: transparent; background-size: cover; background-position: center center; background-repeat: no-repeat; }
#background { margin: 0; padding: 0; z-index: 1; }
#background li { background-color: transparent; background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 0; }

.background-overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 2; background: url('../img/overlay-vignette.png'); background-size: 100% 100%; opacity: 0; }

/* Greeting */

#greeting, #introduction, #login, #focus { font-size: 54px; letter-spacing: 0; white-space: nowrap; }

#greeting { opacity: 0; }
#greeting .name { display: inline-block; max-width: 15em; margin: -5px 0; padding: 5px 0; 
	border-top-left-radius: 1px; border-top-right-radius: 1px; cursor: default; outline: none; 
	overflow: hidden; -webkit-user-select: none; user-select: none; vertical-align: top; }
#greeting .editing { min-width: 1.5em; margin-bottom: -8px; border-bottom: 3px solid #fff; cursor: auto; }
